@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Poppins;
}

body {
 height: 100vh;
 width: 100vw;
 background-color: #fecea8;
 overflow: hidden;
 padding-top: 4rem;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100vw;
 height: 100vh;
 flex-direction: column;
}

.navigation {
 background-color: #ff847c;
 top: 0;
 left: 0;
 right: 0;
 position: fixed;
 display: flex;
 justify-content: space-between;
 padding: 0.25rem;
 z-index: 100;
 box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.006),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.032), 12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.059),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.065),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

.logo img {
 width: 8%;
 margin-left: 1rem;
}

.title {
 font-size: 1.7rem;
 color: rgb(243, 239, 239);
}

.title span {
 font-weight: 500;
}

.logo {
 display: flex;
 justify-content: start;
 align-items: center;
 gap: 30px;
}

.container {
 margin-bottom: 20px;
}

.nav-links {
 display: flex;
 justify-content: space-between;
 gap: 30px;
 margin-right: 10px;
 align-items: center;
}

.nav-links ul li {
 list-style-type: none;
}

.nav-links ul li:hover {
 border-radius: 25% 75% 32% 68% / 41% 35% 65% 59%;
 background-color: #fecea8;
}

.nav-links ul {
 display: flex;
 gap: 20px;
}

.main {
 position: relative;
}

.main::after {
 position: absolute;
 height: 7px;
 width: 7px;
 border-radius: 50%;
 content: "";
 bottom: -10%;
 left: 43%;
 background-color: #fecea8;
}

.nav-links a {
 color: #171717;
 font-size: 1.2rem;
 text-decoration: none;
}

.button {
 padding: 7px 15px 7px 15px;
 cursor: pointer;
 border: none;
 border-radius: 5px;
 background-color: #2a363b;
 color: white;
}

.button:hover {
 color: #2a363b;
 background-color: white;
}

.container-inside {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem;
 color: #171717;
}

.side-one img {
 width: 70%;
 border-radius: 20px;
}

.side-one,
.side-two {
 display: flex;
 justify-content: center;
 align-items: center;
}

.side-two {
 flex-direction: column;
}

hr{
 border: 1px solid #171717;
 width: 98%;
}

.footer small {
 color: #171717;
}